.navbar {
  align-items: center;
  background-color: #263238;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar button {
  background-color: #263238;
  border: 0;
  color: #EF5350;
  display: none;
  font-size: 2.5em;
  outline: none;
}

.navbar button:hover {
  cursor: pointer;
}

.container {
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
  visibility: visible;
}

.container a {
  color: #EF5350;
  font-size: 1.1em;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    align-items: center;
    background-color: #263238;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    top: 0;
    width: 121%;
    z-index: 100;
  }

  .navbar button {
    background-color: #263238;
    border: 0;
    color: #EF5350;
    display: block;
    font-size: 2.5em;
    margin: 0;
    outline: none;
  }

  .container {
    background-color: #263238DD;
    border: 1px solid #EF5350;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    right: 8%;
    padding: 10px;
    position: absolute;
    text-align: right;
    top: 80px;
    visibility: hidden;
  }

  .container a {
    color: #EF5350;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-decoration: none;
  }
}
